


body {
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323;
}

.calculator-container {
    /*background-color: rgb(180, 180, 180);*/
    background-color: #232323;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: baseline;
    gap: 20px;

}


#display {
    background-color: none;
    height: 55px;
    padding: 0px;
    flex-shrink: 0;
    font-size: 23px;
    border-radius: 10px;
    padding: 8px 10px 16px 10px;

    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}


#small-display {
    font-size: 17px;
    font-weight: 100;

    display: flex;
    align-items: center;
}

#big-display {
    font-size: 30px;
}

#small-display,
#big-display {
    flex: 1;
    font-family: 'VT323', monospace;
    color: rgb(170, 232, 25);
    text-shadow: 1px 1px 4px rgb(150, 167, 124);
    margin-right: 8px;
}

.calculator-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button {
    position: relative;
    height: 75px;
    width: 75px;
    flex: 1;
    font-size: 50;
    border-radius: 9px;
    appearance: none;
    border: none;
    padding: 10px 13px;

    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
                inset 0 -8px 8px rgba(0, 0, 0, 0.25),
                0 0 0 2px  rgba(0, 0, 0, 0.75),
                10px 20px 25px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#buttondisplay {
    position: relative;
    height: 250px;
    width: 100%;
    flex: 1;
    font-size: 26px;
    border-radius: 9px;
    appearance: none;
    border: none;
    padding: 10px 13px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.button::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(255,255,255,0.25),
    10px 5px 10px rgba(0,0,0,0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0004;
}

#buttondisplay::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    border-radius: 10px;
    box-shadow: inset -1px -1px 12px 2px rgba(152, 237, 55, 0.7),
                -10px -10px 10px rgba(255,255,255,0.4),
                10px 5px 10px rgba(124, 124, 124, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0004;
    background-image: url(/images/scanlines.png);
    background-color: rgb(25, 131, 25);
}

.button.equal {
    width: 75px;
    flex: 2.4;
}

i {
    position: relative;
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
    font-size: 17px;
}

/*
.calculator-container {
  transform: perspective(1500px) rotateY(45deg) rotateX(45deg);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;

  &:hover {
    transform: perspective(3000px) rotateY(5deg) rotateX(5deg);
  }
}
  
*/