

body {
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    background-color: rgb(180, 180, 180);
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: baseline;
    gap: 20px;

}
.calculator-display {
    background-color: rgb(214, 214, 214);
    height: 55px;
    padding: 10px;
    font-size: 23px;
    border-radius: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calculator-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button {
    height: 75px;
    width: 75px;
    flex: 1;
    font-size: 26px;
    border-radius: 10px;
    appearance: none;
    border: none;
}

.button:active {
    box-shadow: #626262 0 2px 5px inset;
    transform: translateY(2px);
  }

.button.equal {
    width: 75px;
    flex: 2.4;
}
