
html{
    height: 100%;
}

body {
    margin: none;
    padding: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    background: #232323;
    flex-direction: column;
}

.calculator-container {
    /*background-color: rgb(180, 180, 180);*/
    background-color: #232323;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: baseline;
    gap: 20px;
}


#display {
    background-color: none;
    height: 55px;
    padding: 0px;
    flex-shrink: 0;
    font-size: 23px;
    border-radius: 10px;
    padding: 8px 10px 16px 10px;

    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}


#small-display {
    font-size: 17px;
    font-weight: 100;

    display: flex;
    align-items: center;
}

#big-display {
    font-size: 30px;
}

#small-display,
#big-display {
    flex: 1;
    font-family: 'VT323', monospace;
    color: rgba(119, 226, 38, 0.759);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    margin-right: 8px;
}

.calculator-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* GLOW EFFECT FOR BUTTONS -> ADD CLASS LIGHT TO USE
.button.light {
    position: relative;
    height: 75px;
    width: 75px;
    flex: 1;
    font-size: 50;
    border-radius: 9px;
    appearance: none;
    border: none;
    padding: 10px 13px;

    background: linear-gradient(180deg, #282828, #202020);
    box-shadow:     
                    0 0 0 2px  rgba(0, 0, 0, 1),
                    0 0 7px 5px #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
*/

.button {
    position: relative;
    height: 75px;
    width: 75px;
    flex: 1;
    font-size: 50;
    border-radius: 9px;
    appearance: none;
    border: none;
    padding: 10px 13px;

    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
                inset 0 -8px 8px rgba(0, 0, 0, 0.25),
                0 0 0 2px  rgba(0, 0, 0, 0.75),
                10px 20px 25px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 100ms;
}

.button:active {
    transform: translateX(0.5px) translateY(3px);
}


#buttondisplay {
    position: relative;
    height: 250px;
    width: 100%;
    flex: 1;
    font-size: 26px;
    border-radius: 9px;
    appearance: none;
    border: none;
    padding: 10px 13px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.button::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(255,255,255,0.25),
    10px 5px 10px rgba(0,0,0,0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0004;
}

#buttondisplay::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    border-radius: 10px;
    box-shadow: inset -1px -1px 2px 0px rgb(1, 1, 1),
                inset -1px -1px 12px 2px rgba(152, 237, 55, 0.7),
                -10px -10px 10px rgba(255,255,255,0.4),
                10px 5px 10px rgba(124, 124, 124, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0004;
    background-image: url(./images/scanlines.png);
    background-color: rgb(25, 131, 25);
}

.button.equal {
    width: 75px;
    flex: 2.4;
}

i {
    position: relative;
    color: #ffffffb7;
    font-style: normal;
    text-transform: uppercase;
    font-size: 17px;
}

.github-container {
    display: flex;
    justify-content: center;
}

.github-icon {
    font-size: 24px;
    color: var(--black);
    transition: transform 0.4s ease-in-out;
}
  
.github-icon:hover {
    transform: rotate(360deg) scale(1.2);
}


@keyframes flickerAnimation {
    0%   { opacity:0.9; }

    10.9% { opacity:0.8; }
    11% { opacity:0.2; }
    11.1% { opacity:0.9; }

    30% { opacity:1; }
    31% { opacity:0.5; }
    32%  { opacity:1; }
    
    90.9% { opacity:0.9; }
    91% { opacity:0; }
    91.1% { opacity:0.9; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:0.9; }

    10% { opacity:0.8; }
    11% { opacity:0.3; }
    12% { opacity:0.9; }

    30% { opacity:1; }
    31% { opacity:0.5; }
    32%  { opacity:1; }
    
    90% { opacity:0.9; }
    91% { opacity:0.7; }
    100% { opacity:0.9; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:0.9; }

    10% { opacity:0.8; }
    11% { opacity:0.3; }
    12% { opacity:0.9; }

    30% { opacity:1; }
    31% { opacity:0.5; }
    32%  { opacity:1; }
    
    90% { opacity:0.9; }
    91% { opacity:0.7; }
    100% { opacity:0.9; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:0.9; }

    10% { opacity:0.8; }
    11% { opacity:0.1; }
    12% { opacity:0.9; }

    30% { opacity:1; }
    31% { opacity:0.5; }
    32%  { opacity:1; }
    
    90% { opacity:0.9; }
    91% { opacity:0.1; }
    100% { opacity:0.9; }
  }
  
  #big-display,
  #small-display,
  #buttondisplay::before {
     -webkit-animation: flickerAnimation 3s infinite;
     -moz-animation: flickerAnimation 3s infinite;
     -o-animation: flickerAnimation 3s infinite;
      animation: flickerAnimation 3s infinite;
  }
  
  